body {
    margin: 0;
    padding: 0;
}

.editors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.editor-wrapper-collab {
    position: relative;
    width: 500px;
    height: 250px;
}